<section>
  <article id="slimovation_how">
    <p>Slim-ovation is een mobiel <em>innovatie lab</em>, inzetbaar door bedrijven, dat zich gedraagt als een startup: snel <strong>nieuwe ide&eumlen testen</strong>, <strong>co-creatie</strong> met de eindgebruikers en gebruik maken van de <strong>modernste technieken</strong>. 
Wij hebben een jong en enthousiast team, dat werkt met een <em>lean proces</em> waarbij de focus ligt op <em>waarde creatie</em> voor de klant. Als bedrijf kun je ons inhuren of om advies vragen: </p> <br /> <h2>Wij helpen u graag succesvol nieuwe wegen in te slaan!</h2>
</article>
<article id="slimovation_in_action">
  <%= image_tag "process.png" %>
</article>
</section>