<section>
  <article id="slimovation_description">
    <h1>Ons innovatielab test snel of uw idee gaat werken voor uw business</h1>
    <h2>Wij bouwen, testen en valideren uw visie met echte klanten.</h2>
  </article>
</section>