<section>
  <article id="slimovation_description">
    <h1>Ons innovatielab test uw ide&eumlen snel</h1>
    <h2>Wij bouwen, testen en valideren uw visie met echte klanten.</h2>
    <p>Slim-ovation is een mobiel <em>innovatie lab</em>, inzetbaar door bedrijven, dat zich gedraagt als een startup: snel <strong>nieuwe ide&eumlen testen</strong>, <strong>co-creatie</strong> met de eindgebruikers en gebruik maken van de <strong>modernste technieken</strong>. 
    Wij hebben een jong en enthousiast team, dat werkt met een <em>lean proces</em> waarbij de focus ligt op <em>waarde creatie</em> voor de klant. Als bedrijf kun je ons inhuren of om advies vragen: <br /> <h2>Wij helpen u graag succesvol nieuwe wegen in te slaan!</h2>
  </article>
  <article id="slimovation_in_action">
    <%= image_tag "process.png" %>
  </article>
  <article id="slimovation_contact_us">
    <p>Bent u geinteresseerd geraakt in onze werkwijze of vraag u zich af wat wij voor uw bedrijf kunnen betekenen. Neem dan gerust vrijblijvend contact op! </p><br />
    <h2>Wij zijn te bereiken op <strong>0628533533</strong> en <strong>info@slimovation.eu</strong></h2>
  </article>
</section>