<header>
  <%= image_tag "slimovation.png", alt: "slimovation: wij testen jouw ideeen en helpen je innoveren!", size: "800x200" %>
	<nav>
  <ul>
    <li>contact</li>
    <li>test</li>
  </ul>
  </nav>
</header>